<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyLettings</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="body" class"container-fluid">

      <div class="navbar-fixed-top">


      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
        <% if current_user.admin? %>
          <a href="/properties/new">Add a property</a>
        <% end %>
      <% else %>


        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success' %>
        <%= link_to "Log in", new_user_session_path, class: 'btn btn-info' %>
      <% end %>
            </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
