
<div class="col-md-4 col-sm-4">



<% if @property.errors.any? %>
  <section id="errors" >
    <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved: </h2>
    <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>


<%=  form_for @property, html: {multipart: true} do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
    </div>
    <div class="form-group">
  <%= f.label :description %>
  <br>
  <%= f.text_field :description %>
    </div>
    <div class="form-group">
  <%= f.label :price %>
  <br>
  <%= f.text_field :price %>
    </div>
  <div class="form-group">
    <%= f.label :postcode %>
    <br>
    <%= f.text_field :postcode %>
      </div>
      <div class="form-group">
  <%= f.fields_for :pictures do |x| %>
    <%= x.label :images %>
    <%= x.file_field :images, :multiple => true, name: "pictures[images][]" %>
  <% end %>
    </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
</div>
